[submodule "axongate/axongate-engine"]
	path = axongate-engine
	url = git@github.com:sunSprout/axongate-engine.git
[submodule "axongate/axongate-ui"]
	path = axongate-ui
	url = git@github.com:sunSprout/axongate-ui.git
